*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.textoindex {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.venta1 {
    margin: 1em;
    border: 1px solid;
    border-radius: 15%;
    background-color: rgb(156, 161, 165);
}

.card1 {
    width: 15rem;
    height: 27rem;
    margin: auto;
    margin-top: 2rem;
}

.card2 {
    width: 15rem;
    height: 29rem;
    margin: auto;
    margin-top: 2rem;
}

.card3 {
    width: 15rem;
    height: 24rem;
    margin: auto;
    margin-top: 2rem;
}

.numer {
    margin-top: 1.5rem;
}

.card-title {
text-align: center;
}

.ir {
    margin-left: 2rem;
}

input {
    width: 30%;
}
