$BgTemporada: "Invierno";


@if($BgTemporada =="Invierno") {
    body {
        background-color: rgb(120, 125, 148);
.ir {
    a {
        color: white;
        margin-left: 0rem;
    }

        button {
            background-color: rgb(57, 57, 95);
            width: 10%;
            border-radius: 10%;
            &:hover {
                background-color: rgb(70, 70, 107);
            }
         }

}
        .card-22 {
            background-image: url(/img/Invierno.jpg);
            background-size: 130%;        }

        nav {
            background-color: rgb(40, 40, 78);
        }

        .venta1 {
            background-color: rgb(223, 233, 245);
        }

        .card {
            background-color: rgb(223, 233, 245);
        }
    }
}

@else if($BgTemporada =="Verano") {
    body {
        background-color: #fefac0;

        .card-22 {
            background-image: url(/img/Verano.jpg);
            background-size: 120%;
        }

        nav {
            background-color: #dad373;

            span {
                color: #b1067e9f;
            }

            .nav-link {
                color: #b1067e9f
            }
        }

        .venta1 {
            background-color: rgb(247, 237, 206);
        }

        .card {
            background-color: rgb(247, 237, 206);
        }
    }
}

@else if($BgTemporada =="Otoño") {
    body {
        background-color: rgb(155, 115, 70);

        .card-22 {
            background-image: url(/Img/Otoño.jpg);
            background-size: 100%;
        }

        nav {
            background-color: rgb(97, 70, 20);
        }

        .venta1 {
            background-color: rgb(243, 224, 160);
        }

        .card {
            background-color: rgb(243, 224, 160);
        }
    }
}

@else if($BgTemporada =="Primavera") {
    body {
        background-color: rgb(129, 235, 120);

        .card-22 {
            background-image: url(/img/Primavera.webp);
            background-size: 140%;        }

        nav {
            background-color: rgb(81, 155, 78);
        }

        .venta1 {
            background-color: rgb(214, 190, 191);
        }

        .card {
            background-color: white;

        }
    }
}